force-app/main/default/flows/Caldd.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_new_EMI_Balance</name>
        <label>Get new EMI Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EMIManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_over_Pending_Transaction</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>monthInterest</name>
            <value>
                <elementReference>newMonthInterest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>principleAmount</name>
            <value>
                <elementReference>Get_EMI_Info_from_Loan_Record.PrincipalAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tenure</name>
            <value>
                <elementReference>newTenure</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMIManagement</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>emiBalance</assignToReference>
            <name>newEMI</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Error</name>
        <label>Assign Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Assign_Message</name>
        <label>Assign Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>You have already applied for 3 month Moratorium</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_if_no_Error</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_needed_Transaction_in_Collection</name>
        <label>Assign needed Transaction in Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emiBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.DebitCreditIndicator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.FinancialAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialNeededToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transactionNeededtoCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_need_to_create_transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_EMI_Balance</name>
        <label>Assign new EMI Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pendingTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Pending_Transaction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pendingTransaction.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emiBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pendingTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pendingTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Pending_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_EMI_Balance_for_Moratorium</name>
        <label>Assign new EMI Balance for Moratorium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pendingTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Pending_Transaction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pendingTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pendingTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Pending_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_transaction_for_moratorium</name>
        <label>Assign new transaction for moratorium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>pendingTransaction.Amount</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.DebitCreditIndicator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.FinancialAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialNeededToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transactionNeededtoCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_three_transactions_created</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Success_Message</name>
        <label>Assign Success Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>outputMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Flow run Successfully</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <description>Next 3 month from current month will be updated as moratorium</description>
        <name>Assign_the_next_3_month_as_moratorium</name>
        <label>Assign the next 3 month as moratorium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>updateTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Transaction_to_Skip</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateTransaction.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateTransaction.Type</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Moratorium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>updateTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>updateTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Transaction_to_Skip</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_pending_EMIs_size</name>
        <label>Assign the pending EMIs size</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pendingEMIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_pending_EMI_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newMonthInterest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>monthInterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTenureDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTotalTenure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_new_EMI_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <description>Reduce finance count so the date should be the last finance transaction date.</description>
        <name>Reduce_Finance_Count</name>
        <label>Reduce Finance Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transactionNeededCount</assignToReference>
            <operator>Subtract</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_the_Due_date_of_EMI_Account</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_moratorium</name>
        <label>Check if moratorium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_pending_Transaction_with_New_EMI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Moratorium</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMoratorium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EMI_Info_from_Loan_Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>If_already_applied_for_Moratorium</targetReference>
            </connector>
            <label>Yes Moratorium</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_moratorium_then_do_not_add_amount</name>
        <label>Check if moratorium then do not add amount</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Assign_new_EMI_Balance</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_it_is</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isMoratorium</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Get_EMI_Info_from_Loan_Record.Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Loan</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_EMI_Balance_for_Moratorium</targetReference>
            </connector>
            <label>Yes it is</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_need_to_create_transactions</name>
        <label>Check if need to create transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Transaction_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No need to create transaction</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transactionNeedToCreate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>transactionNeededCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_needed_Transaction_in_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_no_Error</name>
        <label>Check if no Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Error Found</defaultConnectorLabel>
        <rules>
            <name>No_Error_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>outputMessage</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Success_Message</targetReference>
            </connector>
            <label>No Error found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_three_transactions_created</name>
        <label>Check if three transactions created</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Moratorium_Transaction_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Greater than 3</defaultConnectorLabel>
        <rules>
            <name>Not_yet</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transactionNeededCount</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_new_transaction_for_moratorium</targetReference>
            </connector>
            <label>Not yet</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Moratorium_Transaction_is_Null</name>
        <label>Check Moratorium Transaction is Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_moratorium_records</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null_MT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>financialNeededToCreateCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_moratorium_transactions</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_is_Null</name>
        <label>Check Transaction is Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_the_EMI_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>financialNeededToCreateCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_needed_Transaction</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>If_already_applied_for_Moratorium</name>
        <label>If already applied for Moratorium</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Get_Transaction_to_skip_3_months</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Moratorium_Already</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_EMI_Info_from_Loan_Record.Is_Moratorium_Used__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Message</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>monthInterest</name>
        <dataType>Number</dataType>
        <expression>{!Get_EMI_Info_from_Loan_Record.InterestRate} / 1200</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>newAmountDue</name>
        <dataType>Currency</dataType>
        <expression>{!newTenure} * {!emiBalance}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newEMIBalance</name>
        <dataType>Currency</dataType>
        <expression>({!Get_EMI_Info_from_Loan_Record.PrincipalAmount} * {!monthInterest} * (1 + {!monthInterest}) ^ {!newTenure}) 
/ 
((1 + {!monthInterest}) ^ {!newTenure} - 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newTenure</name>
        <dataType>Number</dataType>
        <expression>({!tenure} * 12) + {!pendingEMIs}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>newTotalTenure</name>
        <dataType>Number</dataType>
        <expression>{!Get_EMI_Info_from_Loan_Record.Term} + ({!tenure} * 12)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>transactionDate</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS({!pendingTransaction.TransactionDate},{!transactionNeededCount})</expression>
    </formulas>
    <formulas>
        <name>transactionNeedToCreate</name>
        <dataType>Number</dataType>
        <expression>{!newTotalTenure} - {!Get_EMI_Info_from_Loan_Record.Term}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>Caldd {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Extend tenure</label>
    <loops>
        <name>Iterate_over_Pending_Transaction</name>
        <label>Iterate over Pending Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_pending_EMI_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_moratorium_then_do_not_add_amount</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_moratorium</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Transaction_to_Skip</name>
        <label>Iterate over Transaction to Skip</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Transaction_to_skip_3_months</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_the_next_3_month_as_moratorium</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Check_if_three_transactions_created</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_moratorium_transactions</name>
        <label>Create moratorium transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_moratorium_records</targetReference>
        </connector>
        <inputReference>financialNeededToCreateCollection</inputReference>
    </recordCreates>
    <recordCreates>
        <name>Create_needed_Transaction</name>
        <label>Create needed Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_the_EMI_Account</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>financialNeededToCreateCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_EMI_Info_from_Loan_Record</name>
        <label>Get EMI Info from Loan Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_pending_EMI_Transactions</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinancialAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pending_EMI_Transactions</name>
        <label>Get pending EMI Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_pending_EMIs_size</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinancialAccountTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Transaction_to_skip_3_months</name>
        <label>Get Transaction to skip 3 months</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Transaction_to_Skip</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>TransactionDate</field>
            <operator>GreaterThan</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>3.0</numberValue>
        </limit>
        <object>FinancialAccountTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Financial_Account_Balance</name>
        <label>Update Financial Account Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_no_Error</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Total Balance</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>newAmountDue</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccountBalance</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_moratorium_records</name>
        <label>Update moratorium records</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Reduce_Finance_Count</targetReference>
        </connector>
        <inputReference>updateTransactions</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_pending_Transaction_with_New_EMI</name>
        <label>Update pending Transaction with New EMI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_need_to_create_transactions</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <inputReference>pendingTransactions</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_Due_date_of_EMI_Account</name>
        <label>Update the Due date of EMI Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_no_Error</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Is_Moratorium_Used__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDueDate</field>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccount</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_EMI_Account</name>
        <label>Update the EMI Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Financial_Account_Balance</targetReference>
        </connector>
        <faultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Assign_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AmountDue</field>
            <value>
                <elementReference>newAmountDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDueDate</field>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term</field>
            <value>
                <elementReference>newTotalTenure</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccount</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_EMI_Info_from_Loan_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>emiBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>financialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>financialNeededToCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>isMoratorium</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>newMonthInterest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>newTenureDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>outputMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>pendingEMIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>pendingTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>pendingTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>tenure</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>transactionCount_MT</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>transactionNeededCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>transactionNeededtoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>updateTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>updateTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
</Flow>
