force-app/main/default/flows/Get_Financial_Account_Balance_and_Transaction.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Balance</name>
        <label>Assign Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>balanceOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>balanceRow</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Financial_Account_Balance</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_transaction</name>
        <label>Assign transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transactionOutput</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transactionRow</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Test</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Iterate_over_Financial_Account_Transaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Financial_Account_Transaction</targetReference>
        </connector>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>Get Financial Account Balance and Transaction {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Get Financial Account Balance and Transaction</label>
    <loops>
        <name>Iterate_over_Financial_Account_Balance</name>
        <label>Iterate over Financial Account Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_all_Balances</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_Balance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_Latest_5_Transactions</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Iterate_over_Financial_Account_Transaction</name>
        <label>Iterate over Financial Account Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_Latest_5_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_transaction</targetReference>
        </nextValueConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_all_Balances</name>
        <label>Get all Balances</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Financial_Account_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinancialAccountBalance</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_Latest_5_Transactions</name>
        <label>Get Latest 5 Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Iterate_over_Financial_Account_Transaction</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <limit>
            <numberValue>5.0</numberValue>
        </limit>
        <object>FinancialAccountTransaction</object>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_all_Balances</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <textTemplates>
        <name>balanceRow</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;ID: {!Iterate_over_Financial_Account_Balance.Id} |&amp;nbsp;Amount : {!Iterate_over_Financial_Account_Balance.Amount} | Type : {!Iterate_over_Financial_Account_Balance.Type}&lt;/p&gt;</text>
    </textTemplates>
    <textTemplates>
        <name>transactionRow</name>
        <isViewedAsPlainText>false</isViewedAsPlainText>
        <text>&lt;p&gt;ID: {!Iterate_over_Financial_Account_Transaction.Id} |&amp;nbsp;Amount : {!Iterate_over_Financial_Account_Transaction.Amount} | Type : {!Iterate_over_Financial_Account_Transaction.Type} | Status : {!Iterate_over_Financial_Account_Transaction.Status}&lt;/p&gt;</text>
    </textTemplates>
    <variables>
        <name>balanceOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>financialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Test</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>transactionOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
