force-app/main/default/flows/Person_Account_Verification.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Generate_Verification_Code</name>
        <label>Generate Verification Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>generateVerificationCode</actionName>
        <actionType>generateVerificationCode</actionType>
        <connector>
            <targetReference>Send_Verification_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <nameSegment>generateVerificationCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <actionCalls>
        <name>Send_Verification_Code</name>
        <label>Send Verification Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>emailSimple</actionName>
        <actionType>emailSimple</actionType>
        <connector>
            <targetReference>Set_Verification_Code</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recipientAddresses</name>
            <value>
                <collectionElements>
                    <elementReference>Get_Person_Account.PersonEmail</elementReference>
                </collectionElements>
            </value>
        </inputParameters>
        <inputParameters>
            <name>senderAddress</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>poornima@astreait.com</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>composeEmailContent</name>
            <value>
                <stringValue>True</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailSubject</name>
            <value>
                <stringValue>Your Bank Agent OTP</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>emailBody</name>
            <value>
                <inputConfiguratorMode>Custom</inputConfiguratorMode>
                <stringValue>&lt;!DOCTYPE html&gt;
&lt;html&gt;
&lt;head&gt;
  &lt;meta charset=&quot;UTF-8&quot;&gt;
  &lt;title&gt;OTP Verification&lt;/title&gt;
&lt;/head&gt;
&lt;body style=&quot;margin:0; padding:0; background-color:#f4f6f9; font-family:Arial, sans-serif;&quot;&gt;
  &lt;table width=&quot;100%&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;background-color:#f4f6f9; padding:20px 0;&quot;&gt;
    &lt;tr&gt;
      &lt;td align=&quot;center&quot;&gt;
    &lt;table width=&quot;600&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;background:#ffffff; border-radius:8px; overflow:hidden; box-shadow:0 2px 8px rgba(0,0,0,0.08);&quot;&gt;
      &lt;tr&gt;
        &lt;td style=&quot;background:#0b3d91; padding:20px; text-align:center; color:#ffffff;&quot;&gt;
          &lt;h2 style=&quot;margin:0;&quot;&gt;SecureBank Financial Services&lt;/h2&gt;
        &lt;/td&gt;
      &lt;/tr&gt;
      &lt;tr&gt;
        &lt;td style=&quot;padding:30px; color:#333333;&quot;&gt;
         
          &lt;p style=&quot;font-size:16px;&quot;&gt;Dear &lt;strong&gt;{!Get_Person_Account.Name}&lt;/strong&gt;,&lt;/p&gt;
          &lt;p style=&quot;font-size:15px; line-height:1.6;&quot;&gt;
            We have received a request that requires verification. Please use the One-Time Password (OTP) below to proceed securely.
          &lt;/p&gt;

          &lt;!-- OTP Box --&gt;
          &lt;table align=&quot;center&quot; cellpadding=&quot;0&quot; cellspacing=&quot;0&quot; style=&quot;margin:25px auto;&quot;&gt;
            &lt;tr&gt;
              &lt;td style=&quot;background:#f1f5ff; border:1px dashed #0b3d91; padding:15px 25px; font-size:24px; letter-spacing:4px; font-weight:bold; color:#0b3d91;&quot;&gt;
                {!Generate_Verification_Code.verificationCode}
              &lt;/td&gt;
            &lt;/tr&gt;
          &lt;/table&gt;

          &lt;p style=&quot;font-size:14px; color:#555555;&quot;&gt;
            This OTP is valid for a limited time. For your security, please do not share this code with anyone.
          &lt;/p&gt;

          &lt;p style=&quot;font-size:14px; color:#555555;&quot;&gt;
            If you did not initiate this request, please contact our support team immediately.
          &lt;/p&gt;

          &lt;p style=&quot;margin-top:30px; font-size:15px;&quot;&gt;
            Regards,&lt;br&gt;
            &lt;strong&gt;SecureBank Team&lt;/strong&gt;
          &lt;/p&gt;

        &lt;/td&gt;
      &lt;/tr&gt;

      &lt;!-- Footer --&gt;
      &lt;tr&gt;
        &lt;td style=&quot;background:#f4f6f9; padding:20px; text-align:center; font-size:12px; color:#888888;&quot;&gt;
          © 2026 SecureBank Financial Services. All rights reserved.&lt;br&gt;
          This is an automated message. Please do not reply.
        &lt;/td&gt;
      &lt;/tr&gt;

    &lt;/table&gt;

  &lt;/td&gt;
&lt;/tr&gt;
  &lt;/table&gt;

&lt;/body&gt;
&lt;/html&gt;
</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sendRichBody</name>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputParameters>
        <nameSegment>emailSimple</nameSegment>
        <offset>0</offset>
        <versionString>2.0.1</versionString>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Account_Does_not_exists</name>
        <label>Account Does not exists</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>verificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>The number you provided does not belong to any person account. Please try again.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Verification_Code</name>
        <label>Set Verification Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>verificationCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Verification_Code.verificationCode</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>authenticationKey</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Generate_Verification_Code.authenticationKey</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>verificationMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>An OTP has been sent to your email.</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Exist</name>
        <label>Is Exist?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Account_Does_not_exists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_Person_Account</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Generate_Verification_Code</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Person Account Verification {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Person Account Verification</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_Person_Account</name>
        <label>Get Person Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Is_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>AccountPhone</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Account</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Person_Account</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>AccountPhone</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>authenticationKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>verificationCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>verificationMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
