force-app/main/default/flows/ReduceTenure.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Get_new_EMI_Balance</name>
        <label>Get new EMI Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>EMIManagement</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Iterate_over_Pending_Transaction</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>monthInterest</name>
            <value>
                <elementReference>newMonthInterest</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>principleAmount</name>
            <value>
                <elementReference>Get_EMI_Info_from_Loan_Record.PrincipalAmount</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>tenure</name>
            <value>
                <elementReference>newTenure</elementReference>
            </value>
        </inputParameters>
        <nameSegment>EMIManagement</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>emiBalance</assignToReference>
            <name>newEMI</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_needed_Transaction_in_Collection</name>
        <label>Assign needed Transaction in Collection</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emiBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.TransactionDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.DebitCreditIndicator</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Debit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededtoCreate.FinancialAccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>financialNeededToCreateCollection</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>transactionNeededtoCreate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>transactionNeededCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <isGoTo>true</isGoTo>
            <targetReference>Check_if_need_to_create_transactions</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_new_EMI_Balance</name>
        <label>Assign new EMI Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pendingTransaction</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Iterate_over_Pending_Transaction</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pendingTransaction.Amount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>emiBalance</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>pendingTransactions</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>pendingTransaction</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_over_Pending_Transaction</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_the_pending_EMIs_size</name>
        <label>Assign the pending EMIs size</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>pendingEMIs</assignToReference>
            <operator>AssignCount</operator>
            <value>
                <elementReference>Get_pending_EMI_Transactions</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newMonthInterest</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>monthInterest</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>newTenureDuration</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>newTotalTenure</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_new_EMI_Balance</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Check_if_need_to_create_transactions</name>
        <label>Check if need to create transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Check_Transaction_is_Null</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No need to create transaction</defaultConnectorLabel>
        <rules>
            <name>Yes</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>transactionNeedToCreate</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>transactionNeededCount</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_needed_Transaction_in_Collection</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Transaction_is_Null</name>
        <label>Check Transaction is Null</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Update_the_EMI_Account</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Null</defaultConnectorLabel>
        <rules>
            <name>Not_Null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>financialNeededToCreateCollection</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_needed_Transaction</targetReference>
            </connector>
            <label>Not Null</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <formulas>
        <name>monthInterest</name>
        <dataType>Number</dataType>
        <expression>{!Get_EMI_Info_from_Loan_Record.InterestRate} / 1200</expression>
        <scale>4</scale>
    </formulas>
    <formulas>
        <name>newAmountDue</name>
        <dataType>Currency</dataType>
        <expression>{!newTenure} * {!emiBalance}</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newEMIBalance</name>
        <dataType>Currency</dataType>
        <expression>({!Get_EMI_Info_from_Loan_Record.PrincipalAmount} * {!monthInterest} * (1 + {!monthInterest}) ^ {!newTenure}) 
/ 
((1 + {!monthInterest}) ^ {!newTenure} - 1)</expression>
        <scale>2</scale>
    </formulas>
    <formulas>
        <name>newTenure</name>
        <dataType>Number</dataType>
        <expression>({!tenure} * 12) + {!pendingEMIs}</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>newTotalTenure</name>
        <dataType>Number</dataType>
        <expression>{!Get_EMI_Info_from_Loan_Record.Term} + ({!tenure} * 12)</expression>
        <scale>0</scale>
    </formulas>
    <formulas>
        <name>transactionDate</name>
        <dataType>DateTime</dataType>
        <expression>ADDMONTHS({!pendingTransaction.TransactionDate},{!transactionNeededCount})</expression>
    </formulas>
    <formulas>
        <name>transactionNeedToCreate</name>
        <dataType>Number</dataType>
        <expression>{!newTotalTenure} - {!Get_EMI_Info_from_Loan_Record.Term}</expression>
        <scale>0</scale>
    </formulas>
    <interviewLabel>ReduceTenure {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Reduce Tenure by 1 or 2 year</label>
    <loops>
        <name>Iterate_over_Pending_Transaction</name>
        <label>Iterate over Pending Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>Get_pending_EMI_Transactions</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_new_EMI_Balance</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Update_pending_Transaction_with_New_EMI</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_needed_Transaction</name>
        <label>Create needed Transaction</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_the_EMI_Account</targetReference>
        </connector>
        <inputReference>financialNeededToCreateCollection</inputReference>
    </recordCreates>
    <recordLookups>
        <name>Get_EMI_Info_from_Loan_Record</name>
        <label>Get EMI Info from Loan Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_pending_EMI_Transactions</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>FinancialAccount</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_pending_EMI_Transactions</name>
        <label>Get pending EMI Transactions</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_the_pending_EMIs_size</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Pending</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>FinancialAccountTransaction</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Update_Financial_Account_Balance</name>
        <label>Update Financial Account Balance</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>FinancialAccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Total Balance</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>newAmountDue</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccountBalance</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_pending_Transaction_with_New_EMI</name>
        <label>Update pending Transaction with New EMI</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_if_need_to_create_transactions</targetReference>
        </connector>
        <inputReference>pendingTransactions</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_the_EMI_Account</name>
        <label>Update the EMI Account</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Update_Financial_Account_Balance</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>financialAccountId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>AmountDue</field>
            <value>
                <elementReference>newAmountDue</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>PaymentDueDate</field>
            <value>
                <elementReference>transactionDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Term</field>
            <value>
                <elementReference>newTotalTenure</elementReference>
            </value>
        </inputAssignments>
        <object>FinancialAccount</object>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_EMI_Info_from_Loan_Record</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>emiBalance</name>
        <dataType>Currency</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>financialAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>financialNeededToCreateCollection</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>newMonthInterest</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>4</scale>
    </variables>
    <variables>
        <name>newTenureDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>pendingEMIs</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>pendingTransaction</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>pendingTransactions</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
    <variables>
        <name>tenure</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>transactionNeededCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>transactionNeededtoCreate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>FinancialAccountTransaction</objectType>
    </variables>
</Flow>
