force-app/main/default/flows/Verify_Verification_Code.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Verify_Customer_Code</name>
        <label>Verify Customer Code</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>verifyCustomerCode</actionName>
        <actionType>verifyCustomerCode</actionType>
        <connector>
            <targetReference>Is_Verified</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customerCode</name>
            <value>
                <elementReference>customerCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>authenticationKey</name>
            <value>
                <elementReference>authenticationKey</elementReference>
            </value>
        </inputParameters>
        <nameSegment>verifyCustomerCode</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>66.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Failure_Message</name>
        <label>Failure Message</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Customer_Code.isVerified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageAfterVerification</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your verification code is incorrect. You may check the code and try again later</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Set_Success</name>
        <label>Set Success</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>IsVerified</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Verify_Customer_Code.isVerified</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>messageAfterVerification</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Your verification is now successful! You can now proceed with the necxt steps</stringValue>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Is_Verified</name>
        <label>Is Verified?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Failure_Message</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>False</defaultConnectorLabel>
        <rules>
            <name>True</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Verify_Customer_Code.isVerified</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Verify_Customer_Code.isVerified</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Success</targetReference>
            </connector>
            <label>True</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Verify Verification Code {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Verification Code</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Verify_Customer_Code</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>authenticationKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>customerCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>IsVerified</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>messageAfterVerification</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
